{% extends "../layouts/layout_question.html" %}

{% block pageTitle -%}
  Cash contributions
{%- endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Support for your project</span>
            <h1 class="govuk-heading-xl">Cash contributions</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

            <form action="add-cash-contribution" method="post">
                <div class="nlhf-add-item">
                    <header class="nlhf-add-item__header">
                        <h2 class="govuk-heading-l nlhf-add-item__header__title">Add a cash contribution</h2>
                    </header>
                    <div class="nlhf-add-item__body">

                        <div class="nlhf-add-item__row">
                            {{ govukCharacterCount({
                                name: "cash-cont-description",
                                id: "cash-cont-description",
                                maxwords: 50,
                                label: {
                                    text: "Description"
                                }
                            }) }} 
                        </div>


                        <div class="nlhf-add-item__row">
                        
                            {{ govukRadios({
                                classes: "govuk-radios--small",
                                idPrefix: "cash-cont-secured",
                                name: "cash-cont-secured",
                                fieldset: {
                                    legend: {
                                        text: "Is this cash contribution secured?",
                                        isPageHeading: false,
                                        classes: "govuk-fieldset__legend"
                                    }
                                },
                                items: [
                                    {
                                        value: "Yes, I can provide evidence",
                                        text: 'Yes<br> <span class="govuk-!-font-size-16">I can provide evidence</span>' | safe
                                    },
                                    {
                                        value: "Yes, but I do not have evidence yet",
                                        text: 'Yes<br> <span class="govuk-!-font-size-16">but I do not have evidence yet</span>' | safe
                                    },
                                    {
                                        value: "No",
                                        text: "No"
                                    },
                                    {
                                        value: "Not sure if cash contribution is secured",
                                        text: "Not sure"
                                    }
                                ]
                            }) }}                        
                        
                        </div>

                        <div class="nlhf-add-item__row">
                            {{ govukInput({
                                label: {
                                    text: "Amount"
                                },
                                id: "cash-cont-amount",
                                name: "cash-cont-amount",
                                autocomplete: "off"
                            }) }}
                        </div>

                        <div class="nlhf-add-item__row">
                            {{ govukButton({
                                text: "Add cash contribution",
                                preventDoubleClick: true,
                                classes: "govuk-button--secondary"
                            }) }}
                        </div>

                    </div>
                </div>
                <!-- /.nlhf-add-item -->
            </form>
            <!-- /add-cost form -->
        </div>

        <div class="govuk-grid-column-two-thirds">

            {% set helpHTML %}
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">What do we mean by cash contributions?</h3>
                
                <p class="govuk-body">
                    Cash contributions include any additional funds you expect to receive for your project.
                </p>

                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">What is a secured contribution?</h3>
                
                <p class="govuk-body">
                    By secured we mean the cash in your bank account reserved specifically for this project, or grant money has been formally offered. You can add evidence later in your application.
                </p>

                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Do I need cash contributions?</h3>

                <p class="govuk-body govuk-!-margin-bottom-3">
                    You do not need to have cash contributions at this grant level, so don't worry if you cannot add anything to this section.
                </p>

                {{ govukInsetText({
                    text: "Once you tell us that you are getting money from elsewhere, we will need to see evidence of this, as it helps with our assessment.",
                    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0"
                }) }}

            {% endset %}

            <div class="nlhf-highlight-content nlhf-highlight-content--help">
                {{ helpHTML | safe }}
            </div>
        
            <section class="nlhf-summary nlhf-summary--cash">

                <header class="nlhf-summary__header">
                    <h2 class="govuk-heading-m">Your cash contributions</h2>
                </header>

                <div class="nlhf-summary__body">

                    {% if data.project.contributions.cash.length > 0 %}

                        {% for item in data.project.contributions.cash %}

                            <div class="nlhf-data-row">
                                <div class="nlhf-data-row__group nlhf-data-row__group--a">
                                    <div class="nlhf-data-row__primary">
                                        <p class="govuk-body-s">{{ item.description }}</p>
                                    </div>
                                </div>
                                <div class="nlhf-data-row__group nlhf-data-row__group--b">
                                    <div class="nlhf-data-row__teritary">
                                    <h2 class="govuk-heading-s nlhf-data-row__heading">&pound;{{ item.amount }}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- /.nlhf-cost-row -->

                        {% endfor %}

                        <div class="nlhf-summary__total">
                            <h3 class="nlhf-summary__total__title">
                                <span class="nlhf-summary__total__title-text">Total </span>
                                <span class="nlhf-summary__total__title-val">&pound;{{ data.project.totalCashContributions | d('0') }}</span>
                            </h3>
                        </div>

                    {% else %}
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">You have not added any cash contributions</h3>
                    {% endif %}

                </div>
                <!-- /.nlhf-summary__body -->

            </section>
            <!-- /.nlhf-summary-container -->
            
        </div>
    </div>

    <hr class="govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="process-cash-contributions" method="post">

            <p class="govuk-body">If you have finished adding all your cash contributions</p>
                {{ govukButton({
                    text: "Save and continue",
                    preventDoubleClick: true
                }) }}
            </div>

            </form>

    </div>

{% endblock %}
