{% extends "./layouts/two_thirds.html" %}

{% block content_primary %}
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint rem ducimus alias, aliquam laudantium aliquid magnam quos dolorum animi, excepturi, ab accusamus similique sed adipisci. Quidem illo eveniet quod exercitationem!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis excepturi quisquam provident, voluptate aliquam, corrupti voluptatum debitis ipsam mollitia sapiente magnam earum ullam, voluptas autem eveniet consequatur itaque ea velit?</p>
{% endblock %}

{% block content_secondary %}
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum quas non doloremque officiis vitae culpa maxime amet alias earum delectus reiciendis quaerat impedit beatae quia id corporis, nam quae voluptate!</p>
{% endblock %}
